/* ---------- Helvetica Now Display ---------- */
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ---------- Helvetica Now Text ---------- */
@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-Regular.woff2') format('woff2'),
        url('HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------- Helvetica Now Micro ---------- */
@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('HelveticaNowMicro-Regular.woff2') format('woff2'),
        url('HelveticaNowMicro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('HelveticaNowMicro-Medium.woff2') format('woff2'),
        url('HelveticaNowMicro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('HelveticaNowMicro-Bold.woff2') format('woff2'),
        url('HelveticaNowMicro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
